<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .red
        {
            color : red;
        }
        .blue
        {
            color: blue;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 class='red'>우리 아이유 노래들으러 오세요~~(youtube임)</h1>
    <a href="https://www.youtube.com/watch?v=nM0xDI5R50E" target="_blank">아이유 노래 들어봐유</a>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nM0xDI5R50E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>