<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- jinja2 : 템플릿 엔진 -->
    <!-- {# {%__% } 로직 코드 #}-->
    <!-- {# {{  }} } 출력 코드 #}-->
    <!-- <h1>{{namee}} 안녕?</h1> -->
    {% if namee == '용흠' %}
        <h1>{{namee}} 님 안녕하십니까.</h1>
        <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fmblogthumb-phinf.pstatic.net%2FMjAxODA1MTNfNzAg%2FMDAxNTI2MjEwODkxOTU2.BludW2ck9E1lqunJT4_pdxE7GnrTL9q0W5oHgBwyE4cg.4yhwva1PS6E-tYsiJRlVXzJM9xQGnYRlCPO873lYtWYg.JPEG.sooa1982%2Foutput_3362843146.jpg%3Ftype%3Dw800&imgrefurl=https%3A%2F%2Fm.blog.naver.com%2Fsooa1982%2F221274816664&docid=xCDDc8oCltZahM&tbnid=ZRbe3QSB9qRI7M%3A&vet=10ahUKEwiQt4qxhKzjAhWDxbwKHdFGCYYQMwjLASgAMAA..i&w=400&h=508&bih=664&biw=1324&q=%EB%B3%B4%EB%85%B8%EB%B3%B4%EB%85%B8&ved=0ahUKEwiQt4qxhKzjAhWDxbwKHdFGCYYQMwjLASgAMAA&iact=mrc&uact=8" alt="">
    {% else %}
        <h2>{{ namee }} ㅎㅇ.</h2>
        <img src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjPl4LvhKzjAhWRL6YKHfbZD1oQjRx6BAgBEAU&url=https%3A%2F%2Fstore.line.me%2Fstickershop%2Fproduct%2F1979%2Fko&psig=AOvVaw0tOC_oXeSjPPbiIUNWY2FZ&ust=1562906044323250" alt="">
    {% endif %}

</body>
</html>